<div class="row">
  <div class="col-md-8 col-md-offset-2">
<!-- Validation failure messages -->
<% if @listing.errors.any? %>
  <% @listing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Listing #<%= @listing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_listing/<%= @listing.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" id="price" name="price" placeholder="Add the cost for every 15 minutes of use..." class="form-control" value="<%= @listing.price.to_i %>">
          <div class="input-group-addon">.00</div>
        </div>
      </div>


        <!-- Label and input for description -->
        <div class="form-group">
          <label for="description" class="control-label">
            Description
          </label>

          <textarea id="description" name="description" placeholder="Let visitors know what they can expect with your bathroom..." class="form-control" rows="3"><%= @listing.description %></textarea>
        </div>

        <!-- Label and input for address -->
        <div class="form-group">
          <label for="address" class="control-label">
            Address
          </label>

          <input type="text" id="address" name="address" placeholder="Include the street address, apartment number, city, state, and zipcode..." class="form-control" value="<%= @listing.address %>">
        </div>

        <!-- Label and input for photos -->
        <div class="form-group">
          <% @listing.photos.each_with_index do |photo,index| %>
          <label for="photo" class="control-label">
            Photo
          </label>

          <input type="text" id="photo" name="photo<%= 1-index %>" placeholder="Add an image url for your photo..." class="form-control" value="<%= photo.image_url %>">
        <% end %>
        </div>

        <!-- Label and input for user_id -->
          <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

        <!-- Label and input for availability -->
        <div class="checkbox">
          <label for="availability">
            <input type="checkbox" id="availability" name="availability" value="1" <%= "checked" if @listing.availability %>>
            Check this box if your bathroom is available for use right now
          </label>
        </div>

      <button class="btn btn-warning">
        Update Listing
      </button>
      or
      <a href="/listings/<%= @listing.id %>">Cancel</a>
    </form>
  </div>
</div>
