<div class="row">
  <div class="col-md-8 col-md-offset-2">
<!-- Validation failure messages -->
<% if @listing.errors.any? %>
  <% @listing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Listing</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_listing" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price ($/15 minutes)
        </label>

        <p>$</p><input type="text" id="price" name="price" placeholder="Add the cost for every 15 minutes of use..." class="form-control" value="<%= @listing.price %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Let visitors know what they can expect with your bathroom..." class="form-control" rows="3"><%= @listing.description %></textarea>
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Include the street address, apartment number, city, state, and zipcode..." class="form-control" value="<%= @listing.address %>">
      </div>

      <!-- Label and input for user_id -->
        <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for availability -->
      <div class="checkbox">
        <label for="availability">
          <input type="checkbox" id="availability" name="availability" value="1" <%= "checked" if @listing.availability %>>
          Check this box if your bathroom is available for use right now
        </label>
      </div>

      <!-- <p>Does your bathroom include any of the following?</p> -->
      <!-- Label and input for free_wifi -->
      <!-- <div class="checkbox">
        <label for="free_wifi">
          <input type="checkbox" id="free_wifi" name="free_wifi" value="1" <%= "checked" if @listing.free_wifi %>>
          Free wifi
        </label>
      </div>

      <!-- Label and input for heated_floors -->
      <!-- <div class="checkbox">
        <label for="heated_floors">
          <input type="checkbox" id="heated_floors" name="heated_floors" value="1" <%= "checked" if @listing.heated_floors %>>
          Heated floors
        </label>
      </div> -->

      <!-- Label and input for toiletries -->
      <!-- <div class="checkbox">
        <label for="toiletries">
          <input type="checkbox" id="toiletries" name="toiletries" value="1" <%= "checked" if @listing.toiletries %>>
          Toiletries
        </label>
      </div> -->

      <button class="btn btn-success">
        Create Listing
      </button>
      or
      <a href="/listings">Cancel</a>
    </form>
  </div>
</div>
