<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Airpnp</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 60px;
    }
    h6 {
      margin-top: 17px;
    }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/listings" class="navbar-brand">Airpnp</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- <li>
          <button type="button" class="btn btn-default"><a href="/listings">HOME</a></button>
        </li> -->
          <% if current_user.present? %>
          <div class="btn-group">
            <h6>
              <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Visitors <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/my_favorites">My Favorites</a></li>
                <li><a href="/my_bookings">My Bookings</a></li>
              </ul>
            </h6>
          </div>
          <div class="btn-group">
            <h6>
              <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Owners <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/my_listings">My Bathrooms</a></li>
                <li><a href="/listings/new">Add New Bathroom</a></li>
              </ul>
            </h6>
          </div>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user.present? %>
          <li>
            <a href="/users/edit">
              <%= current_user.name %>
            </a>
          </li>
          <li>
            <a href="/users/sign_out" data-method="delete" rel="nofollow">
              Sign Out
            </a>
          </li>
          <% else %>
          <li>
            <a href="/users/sign_in">
              Sign In
              </a>
            </li>
          <li>
            <a href="/users/sign_up">
              Sign Up
              </a>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
